.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 200px;
    background: radial-gradient(circle at top left, #2a542a, #1d6465);
    padding: 30px;
    border-radius: 20px;
    opacity: 90%;
}
.success{
    border: 1 px solid green;
    /* background-color: green; */
}

.error{
    border:  1px solid red;
    background-color: red;
}
.span{
    color: white;
}
.label{
    color: white;
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.button{
    margin-top: 40px;
    display: flex;
    align-items: center;
    background-color: rgb(32, 32, 154);
    border-radius: 10px;
    border-color: transparent;
    color: white;
    font-size: 15px;
    padding: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px white;
}
button:hover{
    width: 56px;
    display: flex;
    opacity: 85%;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-in-out;
}