.contenedorNav{
    width:198vh;
    height: 80px;
    border: 2px solid rgb(220, 219, 219);
    margin-bottom: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 30px;
    border-radius: 20px;
    box-shadow: rgb(121, 113, 113) 0px 0px 3px 3px ;
}
.Link{
    color: rgb(150, 150, 168);
    font-size: 14px;
  
}
.Link:hover{
    
    color: rgb(132, 132, 234);
    transition: all 500ms ease-out;
    width: 30px;
    
   
}