.contenedor{
   
    border-radius: 30px;
   width: fit-content;
     overflow: hidden; 
    box-shadow: 0px 0px 8px 5px #999;
    background-color: rgb(47, 84, 47);
    margin: 60px;
  
}
.contenedor:hover{
    border-radius: 40px;
    
    box-shadow: 0px 0px 8px 5px #476e54;
    transition: all 200ms ease-in;
    cursor: pointer;
}

.button{
    margin-bottom: 30px;
    background-color:#c9c9cd;
    color: #212020;
    border:none;
    border-radius:10px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}
.cards{
    color: rgb(190, 186, 186);
    opacity: 10px;
    
}
.image{
    border-radius: 60px;
}
